<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi">
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <title>Beskid Śląski</title>
  </head>
  <body ng-controller="BeskidSlaskiController">
    <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="menu">
      <h1 class="app-name">Beskid Śląski</h1>

      <div class="scrollable">
        <div class="scrollable-content">
          <div class="list-group" toggle="off" target="menu" bubble>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('position')" ng-if="!layers.position">
              <span class="menu-icon">
                <img src="img/marker.png">
              </span>
              Pokaż moją pozycję
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('position')" ng-if="layers.position">
              <span class="menu-icon">
                <img src="img/marker.png">
              </span>
              Ukryj moją pozycję
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('peaks')" ng-if="!layers.peaks">
              <img src="img/peak.png">
              Pokaż szczyty
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('peaks')" ng-if="layers.peaks">
              <img src="img/peak.png">
              Ukryj szczyty
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('shelters')" ng-if="!layers.shelters">
              <img src="img/shelter.png">
              Pokaż schroniska
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('shelters')" ng-if="layers.shelters">
              <img src="img/shelter.png">
              Ukryj schroniska
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('paths')" ng-if="!layers.paths">
              <span class="menu-icon">
                <div class="path"><div style="background: hsl(10, 80%, 53%);"></div></div>
              </span>
              Pokaż szlaki
            </a>
            <a class="list-group-item" href="javascript:;" ng-click="toggleLayer('paths')" ng-if="layers.paths">
              <span class="menu-icon">
                <div class="path"><div style="background: hsl(10, 80%, 53%);"></div></div>
              </span>
              Ukryj szlaki
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="app">
      <div class="app-body">
        <ng-view class="app-content">
          <bs-leaflet class="map" menu-click="toggle('menu')" layers="layers" position="position"></bs-leaflet>
        </ng-view>
      </div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/ng-geolocation/ngGeolocation.js"></script>
    <script type="text/javascript" src="js/fastclick/fastclick.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="js/leaflet-ajax/leaflet.ajax.js"></script>
    <script type="text/javascript" src="js/easy-button/easy-button.js"></script>
    <script type="text/javascript" src="js/mobile-angular-ui/sidebars.js"></script>
    <script type="text/javascript" src="js/mobile-angular-ui/toggle.js"></script>
    <script type="text/javascript" src="js/mobile-angular-ui/fastclick.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/leaflet.js"></script>
  </body>
</html>
